# Deployment wallet seed
WALLET_SEED=''

# RPC Endpoint Provider ('infura' or 'alchemy')
ENDPOINT_PROVIDER=''

# RPC Endpoint API KEY
ENDPOINT_API_KEY=''

# Maximum Gas to be spent on a transaction. If empty it will be auto calculated
MAX_GAS=

# Gas Price in wei. If empty, it will be auto calculated
GAS_PRICE=

# Etherscan API Key. It can be a single key or a list of keys for each network.
#
# Check https://hardhat.org/plugins/nomiclabs-hardhat-etherscan.html#multiple-api-keys-and-alternative-block-explorers
# for more info.
#
# If using more than one key remember that the value here must be a JSON encoded object
#
ETHERSCAN_API_KEY=''
