# directories
.yarn/
.vscode/
artifacts/
abis/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/

# files
*.env
*.log
*.tsbuildinfo
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
deployments
